/* Add CSS Styling */

.odd {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#numTwo {
    color: #0000ff;
    font-size: 36px;
}

.size {
    font-size: 24px;
}

#numFour {
    background-color: lightgreen;
    font-weight: bold;
}